.content {
    font-family:'Playfair Display',serif;
    margin:0 auto;
    padding-top:60px;
    width:90%
    }
    
    .content__author {
    font-size:20px;
    margin:20px auto 0;
    width:70%
    }
    
    .content__date {
    font-size:20px;
    margin:90px auto 0;
    text-decoration:underline;
    width:70%
    }
    
    .content__heading {
    font-size:55px;
    font-weight:700;
    line-height:60px;
    margin:auto;
    text-align:center;
    width:523px
    }
    
    .content__image-copyright {
    font-size:14px;
    margin-top:20px
    }
    
    .content__image-item {
    width:100%
    }
    
    .content__link {
    color:#000
    }
    
    .content__paragraph {
    margin:30px 0
    }
    
    .content__subheading {
    font-size:20px;
    line-height:30px;
    margin:40px auto;
    text-align:center;
    width:430px
    }
    
    .content__text {
    column-count:1;
    column-gap:40px;
    font-size:20px;
    line-height:30px;
    margin:30px auto;
    width:70%
    }
    
    .footer__container {
    height:100px
    }
    
    .form {
    background:rgba(255,255,255,.95);
    border-right:1px solid #000;
    font-family:'Alegreya Sans',sans-serif;
    height:100vh;
    left:0;
    position:fixed;
    top:0;
    transition:left .5s;
    width:320px
    }
    
    .form__admin {
    height:100vh
    }
    
    .form__button {
    border:0;
    color:#fff;
    cursor:pointer;
    font-family:inherit;
    font-size:14px;
    height:40px;
    margin:0;
    padding-bottom:5px;
    transition:opacity .4s;
    width:50%
    }
    
    .form__button:focus {
    outline-color:#fff6c5
    }
    
    .form__button:hover {
    opacity:.7
    }
    
    .form__button[type="reset"] {
    background-color:#ea3a3a
    }
    
    .form__button[type="submit"] {
    background-color:#000
    }
    
    .form__handlers {
    border:0;
    font-size:0;
    height:40px;
    margin:0;
    width:320px
    }
    
    .form__heading {
    font-size:28px;
    line-height:32px;
    margin:23px auto 0;
    width:240px
    }
    
    .form__heading_type_ctrl-el-heading {
    font-size:20px;
    font-weight:400;
    line-height:30px;
    margin:35px auto 0
    }
    
    .form__input-container {
    border:0;
    margin:auto;
    padding-bottom:50px;
    width:240px
    }
    
    .form__item {
    background-color:transparent;
    border:0;
    border-bottom:1px solid #bcbcc4;
    box-sizing:border-box;
    font-family:inherit;
    font-size:14px;
    height:24px;
    margin-top:5px;
    width:100%
    }
    
    .form__item:focus {
    outline-color:#fff6c5
    }
    
    .form__item[type="color"] {
    border-bottom:0;
    height:30px;
    padding:0;
    width:48px
    }
    
    .form__item[type="date"] {
    background-color:#fff;
    border:1px solid #bcbcc4;
    color:#000;
    font-family:'Alegreya Sans',sans-serif;
    padding:0 4px
    }
    
    .form__item[type="number"] {
    background-color:#fff;
    border:1px solid #bcbcc4;
    color:#000;
    padding:0 4px
    }
    
    .form__item[type="range"] {
    width:144px
    }
    
    .form__item_el_extra-options {
    clip:rect(0 0 0 0);
    height:1px;
    overflow:hidden;
    position:absolute;
    width:1px
    }
    
    .form__item_el_extra-options:checked + .form__pseudo-item_type_checkbox {
    background-image:url(https://code.s3.yandex.net/web-code/tick.svg)
    }
    
    .form__item_el_extra-options:disabled + .form__pseudo-item_type_checkbox {
    border:1px solid grey
    }
    
    .form__item_el_extra-options:disabled:checked + .form__pseudo-item_type_checkbox {
    background-image:url(https://code.s3.yandex.net/web-code/tick_grey.svg)
    }
    
    .form__item_el_extra-options:focus + .form__pseudo-item_type_checkbox {
    box-shadow:0 0 5px #fff6c5
    }
    
    .form__item_el_main-text {
    background:#fff;
    border:1px solid #bcbcc4;
    font-size:14px;
    height:150px;
    padding:6px 6px 4px
    }
    
    .form__item_el_number-of-columns {
    clip:rect(0 0 0 0);
    height:1px;
    overflow:hidden;
    position:absolute;
    width:1px
    }
    
    .form__item_el_number-of-columns:disabled + .form__pseudo-item_type_radio {
    border:1px solid grey
    }
    
    .form__item_el_number-of-columns:disabled:checked + .form__pseudo-item_type_radio {
    background-image:url(https://code.s3.yandex.net/web-code/plane_grey.svg)
    }
    
    .form__item_el_number-of-columns:focus + .form__pseudo-item_type_radio {
    box-shadow:0 0 5px #fff6c5
    }
    
    .form__label {
    display:block;
    font-size:20px;
    line-height:30px;
    margin:35px auto 0
    }
    
    .form__label_direction_right {
    display:inline;
    font-size:14px;
    line-height:30px;
    margin-left:10px
    }
    
    .form__line {
    background-color:#000;
    height:1px
    }
    
    .form__main-container {
    height:calc(100vh - 40px);
    overflow-y:scroll
    }
    
    .form__pseudo-item {
    border:1px solid #000;
    display:inline-block;
    height:16px;
    vertical-align:middle;
    width:16px
    }
    
    .form__pseudo-item_type_radio {
    border-radius:50%
    }
    
    .form__toggle {
    background-color:rgba(0,0,0,.95);
    cursor:pointer;
    display:flex;
    height:50px;
    position:absolute;
    right:-50px;
    top:0;
    transition:opacity .4s;
    width:50px
    }
    
    .form__toggle-image {
    height:20px;
    margin:auto;
    width:12px
    }
    
    .form__toggle:hover {
    opacity:.8
    }
    
    .form_is-closed {
    left:-320px
    }
    
    .form_is-closed .form__toggle-image {
    transform:rotate(180deg)
    }
    
    .page {
    -moz-osx-font-smoothing:grayscale;
    -ms-font-feature-settings:kern 1;
    -webkit-font-smoothing:antialiased;
    -webkit-text-size-adjust:100%;
    font-feature-settings:kern;
    text-rendering:optimizeLegibility
    }
    
    select.form__item {
    background-color:#fff;
    border:1px solid #bcbcc4;
    color:#000
    }