.project-description {
  min-height: 608px;
  background-color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-title {
  margin: 110px auto 23px;
  width: 89%;
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.23;
  letter-spacing: -0.04em;
}
.line {
  width: 89%;
  border: none;
  border-top: 1px solid #dadada;
}

.table {
  margin-top: 70px;
  width: 89%;
  display: flex;
  justify-content: space-between;
}

.table__column {
  width: 48%;
}

.table__subtitle {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.04em;
}

.table__description {
  width: 80%;
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.43;
}

.graph {
  margin: 110px auto;
  width: 89%;
  display: flex;
}
.graph__column{
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  text-align: center;

}
.graph__column_back-end {
  width: 20%;
}
.graph__column_front-end {
  width: 80%;
}
.graph__time {
  margin-bottom: 14px;
  min-height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.graph__time_back {
  color: #000;
  background-color: #3ddc84;
}
.graph__time_front {
  background-color: #303030;
}

.graph__description {
  color: #8b8b8b;
}
