.project-description {
  background-color: #000;
  display: flex;
  flex-direction: column;
}

.section-title {
  margin: 110px 0 23px;
  font: normal 400 22px/1.23 Inter, Arial, sans-serif;
  letter-spacing: -0.04em;
}

.line {
  border-top: 1px solid #dadada;
}

.table {
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
}

.table__column {
  width: 48%;
}

.table__subtitle {
  font: normal 400 20px/1.2 Inter, Arial, sans-serif;
  letter-spacing: -0.04em;
  margin-bottom: 26px;
}

.table__description {
  width: 80%;
  font: normal 400 14px/1.43 Inter, Arial, sans-serif;
}

.graph {
  margin: 110px 0;
  display: flex;
}

.graph__column {
  font: normal 400 14px/1.21 Inter, Arial, sans-serif;
  text-align: center;

}

.graph__column_back-end {
  width: 20%;
}

.graph__column_front-end {
  width: 80%;
}

.graph__time {
  margin-bottom: 14px;
  min-height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.graph__time_back {
  color: #000;
  background-color: #3ddc84;
}

.graph__time_front {
  background-color: #303030;
}

.graph__description {
  color: #8b8b8b;
}


@media screen and (max-width: 769px) {

  h2.project-description__title.section-title.section-title_about-project {
    margin-top: 90px;
  }

  .project-description {
    padding-left: 50px;
    padding-right: 50px;
  }

  .table__subtitle {
    margin-bottom: 22px;
  }

  .graph {
    margin-top: 93px;
    margin-bottom: 90px;
  }

  .table__description {
    font-size: 12px;
    line-height: 1.5;
  }


}

@media screen and (max-width: 601px) {
  .project-description {
    padding-left: 35px;
    padding-right: 35px;
  }
}
@media screen and (max-width: 481px) {
  .project-description {
    padding-left: 20px;
    padding-right: 20px;
  }
}