
/* 
.btns-block__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: none;
} */

.btns-block__link {
  margin-right: 20px;
}

.accaunt-btn {
  margin: 0;
  content: url(../../images/profile.svg);
}

.btns-block__link_login-btn {
  margin: 0 0 0 30px;
  padding: 8px 0;
  background-color: #3ddc84;
  min-width: 76px;
  text-align: center;
  border-radius: 3px;
  color: #000;
}
