.project-technologies {
  min-height: 625px;
  background-color: #272727;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-title_techs {
  margin-top: 100px;
}

.techs__name {
  margin: 90px auto 26px;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: -0.04em;
}

.section-table__description_techs {
  max-width: 460px;
  text-align: center;
}

.techs__cards {
  margin: 100px auto;
  display: flex;
}

.techs__item {
  margin-right: 10px;
  width: 90px;
  min-height: 60px;
  background: #303030;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}