.movies-list {
  margin-top: 70px;
  margin-bottom: 30px;
  display: grid;

  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;

  grid-template-columns: repeat(auto-fit, 364px);
  grid-auto-rows: 203px;
  justify-content: center;
  gap: 144px 22px;

}

