.header {
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 1;
}

.header__navbar {
  margin: 21px 0 21px 0;
  display: flex;
  align-items: center;
}

.navbar-btns_is-login {
  margin-right: 20px;
}

.btns-block_type_registered {
  font: normal 400 14px/1.29 Inter, Arial, sans-serif;

}


@media screen and (max-width: 769px) {
  .header {
    padding-left: 30px;
    padding-right: 30px;
  }

  a.btns-block__link.btns-block__link_signup-btn {
    margin-right: 0;
  }
}


@media screen and (max-width: 601px) {
  .project-poster{
    padding-left: 25px;
    padding-right: 25px;
  }
}
@media screen and (max-width: 481px) {
  .project-poster{
    padding-left: 15px;
    padding-right: 15px;
  }
}