.header {
  width: 89%;
  margin: 0 auto;
  max-width: 1280px;
  min-height: 74px;
  padding: 0;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 1;
}

.header__navbar {
  margin: 21px 0 21px 0;
  display: flex;
  align-items: center;
}
.navbar-btns_is-login {
  margin-right: 20px;
}

.btns-block_type_registered {
  font: normal 400 14px/1.29 Inter, Arial, sans-serif;

}



