.card-movie {
    width: 364px;
    height: 271px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    background-color: #222;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);
  }
  .card-movie__description {
    margin: 14px;
    display: flex;
    justify-content: flex-start;
    height: 68px;
    align-content: center;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .card-movie__title {
    margin-bottom: 9px;
    width: 280px;
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
  }
  .card-movie__duration {
    font-family: inherit;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    display: flex;
  }
  .card-movie__flag {
    width: 30px;
    height: 30px;
    border: none;
    position: absolute;
    top: 19px;
    right: 14px;
    background-color: transparent;
    background-image: url(../../../images/flag-green.svg);
    cursor: pointer;
  }
  .card-movie__flag_grey {
    background-image: url(../../../images/flag-grey.svg);
  }
  
  .card-movie__flag:hover {
    opacity: 0.6;
    transition: opacity 0.3s linear;
  }