.project-poster {
  background-color:#073042;
  height:100vh;
  position:relative
  }
  
  .project-poster__back-image {
  background-image:url(../../../images/logo-practicum.svg);
  background-position:center;
  background-repeat:no-repeat;
  bottom:188px;
  height:320px;
  left:0;
  margin:auto;
  max-width:730px;
  position:absolute;
  right:0;
  top:156px
  }
  
  .project-poster__title {
  font-family:inherit;
  font-size:50px;
  font-style:normal;
  font-weight:400;
  letter-spacing:-.04em;
  line-height:1.16;
  margin:102px 0;
  text-align:center
  }