.project-owner {
  background-color: #202020;
  display: flex;
  flex-direction: column;
}

.owner__resume {
  margin-top: 66px;
  display: flex;
  justify-content: space-between;
}

.owner__about-self {
  width: clamp(330px, 43vw, 600px);
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.owner__name {
  font: normal 400 50px/1.16 Inter, Arial, sans-serif;
  font-size: clamp(50px, 4.5vw, 58px);
  letter-spacing: -0.04em;
}

.owner__description {
  margin-top: 18px;
  font: normal 500 18px/1.11 Inter, Arial, sans-serif;
  font-size: clamp(12px, 1.2vw, 18px);
}

.owner__quote {
  margin-top: 26px;
  font: normal 400 14px/1.57 Inter, Arial, sans-serif;
  font-size: clamp(12px, 1.45vw, 14px);

}

.social-nets {
  font: normal 500 14px/1.21 Inter, Arial, sans-serif;
  display: flex;
}

.social-nets__item {
  margin-right: 20px;
}

.main-foto {
  max-width: 270px;
  min-width: 200px;
  width: calc(100% / 3.2);
  object-fit: cover;
  margin-left: 49px;
}









@media screen and (max-width: 769px) {

  .project-owner {
    padding-left: 50px;
    padding-right: 50px;
  }

  .owner__description {
    margin-top: 16px;
    font-size: 12px;
    line-height: 1.5;
  }

  .owner__quote {
    margin-top: 20px;
    font-size: 12px;
    line-height: 1.5;
  }

  .owner__name {
    font-size: 40px;
    line-height: 1;
  }

}



@media screen and (max-width: 601px) {
  .project-owner {
    padding-left: 35px;
    padding-right: 35px;
  }

  .owner__quote {
    margin-top: 10px;
  }

  .owner__description {
    margin-top: 10px;

  }

  .main-foto {

    margin-left: 35px;
  }
}


@media screen and (max-width: 481px) {
  .project-owner {
    padding-left: 20px;
    padding-right: 20px;
  }
}