@import "./vendor/fonts/inter.css";

* {
  border: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  display: block;
  text-decoration: none;
  transition: opacity 0.3s;
}

a:hover,
button:hover {
  cursor: pointer;
  opacity: 0.6;
  transition: opacity 0.3s linear;
}

body {
  background-color: #202020;
  color: #fff;
  min-width: 320px;
}

button {
  background-color: transparent;
  border: none;
  color: inherit;
  cursor: pointer;
  transition: opacity 0.3s;
}

img {
  display: block;
  width: 100%;
}

li:last-child {
  margin-bottom: 0;
  margin-right: 0;
}

ul {
  list-style: none;
}
